
    // PRIMARY //
$clr-100 : hsl(1, 90%, 64%);
$clr-200 : hsl(219, 85%, 26%);
    // NEUTRAL //
$clr-300 :  hsl(0, 0%, 100%);
$clr-400 : hsl(210, 60%, 98%);
$clr-500 : hsl(211, 68%, 94%);
$clr-600 : hsl(205, 33%, 90%);
$clr-700 : hsl(219, 14%, 63%);
$clr-800 : hsl(219, 12%, 42%);
$clr-900 : hsl(224, 21%, 14%);

$ff-1 : 'Plus Jakarta Sans', sans-serif;;

$fs-1 : 1.6rem ;

$fw-1 : 500;
$fw-2 : 800;


